.buttons {
  text-align: center;
}

.buttons button {
  cursor: pointer;
  padding: 6px 16px;
  color: #24292E;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

.tooltip {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 7px;
}

#root {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
}

*[widget], .widgetContainer {
  color: #007bff;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 8px;
  background-color: #c1defd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  min-width: 200px;
  position: relative;
  text-align: left;
  font-style: normal;
}

*[widget],
#root .container {
  flex: 1 1 400px;
}

*[widget="widgets/a"], .widgetA {
  color: #28a745;
  border-color: #28a745;
  background-color: #e9ffe8;
}

*[widget="widgets/b"], .widgetB {
  color: #254775;
  border-color: #254775;
  background-color: #9999cc;
}

*[widget="widgets/c"], .widgetC {
  color: #e2aa00;
  border-color: #ffc107;
  background-color: #fff3cd;
}

*[widget] *[widget] {
  margin-top: 15px;
}

#root .container {
  border: 1px dashed #aaa;
  padding: 20px;
  min-width: 200px;
  text-align: center;
  color: #777;
  font-style: italic;
}

#root *[widget].widgets-initializer--loading {
  outline-width: 1px;
  outline-offset: 0;
  outline-color: rgba(0, 130, 206, 0.75);
  outline-style: solid;
  animation: animateOutline 1s ease infinite;
}

#root *[widget].widgets-initializer--error {
  border-color: red;
}

@keyframes animateOutline {
  0% {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(0, 130, 206, 0);
  }

  10% {
    outline-color: rgba(0, 130, 206, 0.75);
  }

  /* The animation finishes at 50% */
  50% {
    outline-width: 7px;
    outline-offset: 4px;
    outline-color: rgba(0, 130, 206, 0);
  }

  100% {
    outline-width: 7px;
    outline-offset: 4px;
    outline-color: rgba(102, 102, 102, 0);
  }
}

.selectorPathContainer {
  color: #626262;
  background-color: #bbb;
  margin: 15px auto 0px auto;
  padding: 5px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#selectorPathElement {
  color: #43655a;
  font-weight: bold;
}

.debugContainer {
  background-color: #151515;
  box-sizing: border-box;
  margin: 0px auto 15px auto;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 125px;
  overflow: auto;
}

.debugContainer p {
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
}

.debugContainer .line1 {
  padding: 3px 0px;
  margin: 0px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.debugContainer .line1.info {
  color: #9CD9F0;
}

.debugContainer .line1.error {
  color: #E09690;
}

.legendContainer {
  margin-top: 15px;
}

.legendBox {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.legendSquare {
  width: 20px;
  min-width: 20px;
  height: 20px;
  padding: 0px;
  display: inline-block;
  margin-right: 5px;
}